@import 'bootstrap/dist/css/bootstrap.min.css';


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1500px;
    overflow: hidden;
}

button {
    outline: none;
    border: none;
}