@import 'variables';

@media (max-width: 1433px) {
    .home-left-block {
        margin: 0 auto;
    }

    .home-right-block {
        margin: 0 auto;

        &::before {
            bottom: -20px;
        }
    }

    .home-container {
        padding: 0px 20px 40px 20px !important;
    }

    .chef-container {
        gap: 30px;
    }

    .chef-right-block {
        max-width: 600px;
    }

    .awards-text {
        p {
            max-width: 450px;
        }
    }



    .gallery-text {
        max-width: 400px;
    }
}

@media (max-width: 1240px) {

    .gallery-container {
        gap: 60px;
        flex-direction: column;
    }

    .gallery-slider {
        width: 70%;
    }
}

@media (max-width:1170px) {
    .chef-container {
        justify-content: center;
    }

    .awards-container {
        justify-content: center;
        gap: 65px;
    }
}

@media (max-width: 1084px) {
    .about-content {
        flex-direction: column;

        img {
            height: 550px;
            // width: 86px;
        }

        .about-bg-abs {
            position: absolute;
            z-index: 0;
            opacity: 0.4;
            left: 50%;
            top: 20%;
            width: 530px;
        }
    }

    .slick-slide {
        img {
            width: 320px;
            padding-left: 15px;
        }
    }

    .footer-social {
        max-width: 350px;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        .navbar-nav {
            height: 90vh;
            justify-content: center !important;
            align-items: center !important;

            a {
                font-size: 42px;
                color: $color-gold;
            }
        }
    }

    .slick-slide {

        img {
            margin: 0 auto;
            // min-width: 323px;
            height: 420px !important;
            padding: 0;

        }
    }

    .contact-container {
        justify-content: center;
        gap: 104px;
    }

    .contact-email {
        text-align: left;
        max-width: 250px;
    }

    .footer-content-wrapper {
        flex-direction: column;
        align-items: center;
        padding: 0 60px;
        gap: 55px;
    }

    .footer-contact-us {
        align-self: flex-start;
    }

    .footer-book {
        align-self: flex-end;
    }
}

@media (max-width: 752px) {
    .menu-item-name {
        h4 {
            font-size: 19px;
        }

        p {
            font-size: 13px;
            max-width: 250px;
        }
    }

    .awards-left-block {
        flex-shrink: 1;

        .awards-item {
            margin-top: 50px;
        }
    }

    .slick-slide {

        img {
            margin: 0 auto;
            min-width: 200px;
            height: 350px !important;
            padding: 0;

        }
    }

    .slick-prev {
        left: 4% !important;
    }

    .slick-next {
        right: 6% !important;
    }

    .contact-container {
        flex-direction: column;
        justify-content: center;
        gap: 104px;
    }

    .contact-info {
        text-align: center;
    }

    .contact-email {
        text-align: left;
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .home {
        padding-top: 150px;
    }

    .menu-item-name {
        p {
            font-size: 13px;
            max-width: 130px;
        }
    }

    .menu-item-price {
        &::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 1px;
            background-color: $color-gold;
            left: -50px;
            top: 50%;
        }
    }

    .awards-name {
        font-size: 24px !important;
    }

    .awards-descr {
        font-size: 13px;
    }

    .slick-prev {
        left: 4% !important;
    }

    .slick-next {
        right: 6% !important;
    }

    .footer-contact-us {
        align-self: center;
        text-align: center;

    }

    .footer-book {
        align-self: center;
        text-align: center;
    }
}

@media (max-width: 404px) {
    .menu-item-name {
        h4 {
            max-width: 130px;
        }

        p {
            font-size: 13px;
            max-width: 130px;
        }
    }

    .awards-item {
        margin-top: 65px !important;
    }

    .slick-slide {
        img {
            min-width: 220px;

        }
    }
}

@media (max-width: 365px) {


    .home {
        h1 {
            font-size: 70px;
        }
    }

    .contact-email {
        text-align: center;

        h2 {
            font-size: 47px;
        }
    }

    .contact-email-input {
        flex-direction: column;
        align-items: center;
        gap: 5px;

        input {
            margin-top: 20px;
            width: 100%;
            padding: 15px;
        }

        button {
            width: 100%;
        }
    }
}