@import 'variables';
@import 'config';
@import 'header';
@import 'home';
@import 'about';
@import 'menu';
@import 'chef';
@import 'awards';
@import 'gallery';
@import 'contact';
@import 'footer';

html,
body {
    font-family: $font-primary;
    font-weight: 400;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #5e5e5e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


@import 'media';